<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
  	<title>
    	{% block title %}

    	{% endblock %}
  	</title>
</head>
<body>

	<div class="navbar">
    	<div class="logo">
      		<h1>Book Exchange</h1>
    	</div>
    
    <div class="nav-links">
      	<ul>
        	<li>
        		<a href="#">Home</a>
        	</li>
        	<li>
        		<a href="#">Add Book</a>
        	</li>
        	<li>
        		<a href="#">Search Books</a>
        	</li>
      	</ul>
    </div>
    
    <div class="profile-buttons">
      	<a href="#">Login</a>
      	<a href="#">Sign Up</a>
    </div>
	</div>
	
	{% block content %}
	
	
	{% endblock %}		
  
</body>
</html>