<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link rel="stylesheet" href="{{ url_for('static', filename='./css/style.css') }}">
    	{% block head %}

    	{% endblock %}
</head>
<body>

	<div class="navbar">
      	<a href="{{ url_for('home_page') }}" class="logo">
			<h1>Book Exchange</h1>
		</a>
    
		<div class="nav-links">
			<ul>
				<li>
					<a href="{{ url_for('home_page') }}">Home</a>
				</li>
				<li>
					<a href="#">Add Book</a>
				</li>
				<li>
					<a href="#">Search Books</a>
				</li>
			</ul>
		</div>

		{% if current_user.is_authenticated %}
			<div class="profile-buttons">
				<a href="#">Hey, {{ current_user.name }}</a>
				<a href="#">Log Out</a>
			</div>
		{% else %}
			<div class="profile-buttons">
				<a href="{{ url_for('login_page') }}">Login</a>
				<a href="{{ url_for('register_page') }}">Sign Up</a>
			</div>
		{% endif %}
		
	</div>

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages  %}
			{% for category, message in messages %}
				<h6>{{ message }}</h6>
			{% endfor %}
		{% endif %}
	{% endwith %}
	
	{% block content %}
	
	
	{% endblock %}		
  
</body>
</html>