{% extends 'base.html' %}

{% block content %}

<div class="main-ribbon">
    <div class="container split">
        <div class="col">
            <img src="https://images.unsplash.com/photo-1485322551133-3a4c27a9d925?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80"
                 alt="Books on bookshelf">
        </div>
        <div class="col vertically-center">
            <h2>Don't know what to do with your finished books?</h2>
            <p>
                Exchange your old books with new ones!
                Save your wallet and the environment, while reading more.
            </p>
            <a class="button-style" href="#">
                See the available books
            </a>
        </div>
    </div>
</div>

{% endblock %}