{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="main-ribbon bg-light">
    <div class="container container--narrow">
        <h2>You're on your way to getting new books</h2>


        <form method="POST" class="form--narrow">
            {{ form.hidden_tag() }}

            <div class="form-row">
                {{ form.email_address.label() }}
                {{ form.email_address(class="input--narrow") }}
            </div>

            <div class="form-row">
                {{ form.password.label() }}
                {{ form.password(class="input--narrow") }}
            </div>

            {{ form.submit(class="button-style") }}

            <p>Not Registered? <a class="" href="{{ url_for('register_page') }}">Sign Up here</a></p>

        </form>
    </div>
</div>
{% endblock %}