{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <div class="register-form">

        <h1>You're on your way to getting new books</h1>
        <p>All we need is your email!</p>

        <form method="POST" class="">
            {{ form.hidden_tag() }}

            {{ form.email_address.label() }}
            {{ form.email_address(class="", placeholder="Email Address") }}

            {{ form.password.label() }}
            {{ form.password(class="", placeholder="Password") }}

            {{ form.submit(class="") }}

            <div class="checkbox mb-3">
                <p>Not Registered?</p><a class="" href="{{ url_for('register_page') }}">Sign Up here</a>
            </div>

        </form>

    </div>

    <style>
        .register-form{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        form{
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock %}