{% extends 'base.html' %}

{% block content %}

<div class="main-ribbon bg-light">
    <div class="container container--narrow">
        <h2>You're on your way to getting new books</h2>
        <p>All we need is your name and email!</p>

        <form method="POST" class="form--narrow">
            {{ form.hidden_tag() }}

            <div class="form-row">
                {{ form.name.label() }}
                {{ form.name(class="input--narrow", placeholder="Name") }}
            </div>

            <div class="form-row">
                {{ form.email_address.label() }}
                {{ form.email_address(class="input--narrow", placeholder="Email Address") }}
            </div>

            <div class="form-row">
                {{ form.password1.label() }}
                {{ form.password1(class="input--narrow", placeholder="Password (min. 6 chars)") }}
            </div>

            <div class="form-row">
                {{ form.password2.label() }}
                {{ form.password2(class="input--narrow", placeholder="Confirm Password") }}
            </div>

            {{ form.submit(class="button-style") }}

            <p>Already have an account? <a class="" href="{{ url_for('login_page') }}">Login here</a></p>

        </form>
    </div>
</div>


{% endblock %}